In [2]:
import pandas as pd

In [4]:
data=pd.read_csv("london_houses.csv")
data

,Address,Neighborhood,Bedrooms,Bathrooms,Square Meters,Building Age,Garden,Garage,Floors,Property Type,Heating Type,Balcony,Interior Style,View,Materials,Building Status,Price (£)
0,78 Regent Street,Notting Hill,2,3,179,72,No,No,3,Semi-Detached,Electric Heating,High-level Balcony,Industrial,Garden,Marble,Renovated,2291200
1,198 Oxford Street,Westminster,2,1,123,34,Yes,No,1,Apartment,Central Heating,High-level Balcony,Industrial,City,Laminate Flooring,Old,1476000
2,18 Regent Street,Soho,5,3,168,38,No,Yes,3,Semi-Detached,Central Heating,No Balcony,Industrial,Street,Wood,Renovated,1881600
3,39 Piccadilly Circus,Islington,5,1,237,53,Yes,Yes,1,Apartment,Underfloor Heating,No Balcony,Classic,Park,Granite,Renovated,1896000
4,116 Fleet Street,Marylebone,4,1,127,23,No,Yes,2,Semi-Detached,Central Heating,No Balcony,Modern,Park,Wood,Old,1524000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,44 Camden High Street,Westminster,1,3,81,4,Yes,Yes,2,Semi-Detached,Central Heating,Low-level Balcony,Modern,Street,Laminate Flooring,Renovated,1166400
996,165 Park Lane,Camden,1,1,65,51,No,No,1,Apartment,Underfloor Heating,No Balcony,Industrial,Garden,Wood,Old,563333
997,99 Camden High Street,Camden,4,1,191,27,No,Yes,2,Semi-Detached,Central Heating,Low-level Balcony,Minimalist,Park,Laminate Flooring,Old,1986399
998,155 Park Lane,Camden,5,2,131,3,Yes,No,2,Detached House,Underfloor Heating,High-level Balcony,Modern,Park,Laminate Flooring,Renovated,1703000
999,145 Baker Street,Kensington,4,2,185,53,No,No,1,Apartment,Electric Heating,No Balcony,Modern,Street,Wood,Old,2343333

In [5]:
data.head()

,Address,Neighborhood,Bedrooms,Bathrooms,Square Meters,Building Age,Garden,Garage,Floors,Property Type,Heating Type,Balcony,Interior Style,View,Materials,Building Status,Price (£)
0,78 Regent Street,Notting Hill,2,3,179,72,No,No,3,Semi-Detached,Electric Heating,High-level Balcony,Industrial,Garden,Marble,Renovated,2291200
1,198 Oxford Street,Westminster,2,1,123,34,Yes,No,1,Apartment,Central Heating,High-level Balcony,Industrial,City,Laminate Flooring,Old,1476000
2,18 Regent Street,Soho,5,3,168,38,No,Yes,3,Semi-Detached,Central Heating,No Balcony,Industrial,Street,Wood,Renovated,1881600
3,39 Piccadilly Circus,Islington,5,1,237,53,Yes,Yes,1,Apartment,Underfloor Heating,No Balcony,Classic,Park,Granite,Renovated,1896000
4,116 Fleet Street,Marylebone,4,1,127,23,No,Yes,2,Semi-Detached,Central Heating,No Balcony,Modern,Park,Wood,Old,1524000

In [6]:
data.describe()

,Bedrooms,Bathrooms,Square Meters,Building Age,Floors,Price (£)
count,1000.000000,1000.000000,1000.0000,1000.00000,1000.000000,1.000000e+03
mean,3.013000,2.003000,149.6270,49.96500,1.991000,1.840807e+06
std,1.393834,0.808483,58.0562,29.07086,0.821946,8.793484e+05
min,1.000000,1.000000,50.0000,1.00000,1.000000,3.866660e+05
25%,2.000000,1.000000,99.0000,24.00000,1.000000,1.161400e+06
50%,3.000000,2.000000,148.0000,50.00000,2.000000,1.721999e+06
75%,4.000000,3.000000,201.0000,76.00000,3.000000,2.390500e+06
max,5.000000,3.000000,249.0000,99.00000,3.000000,4.980000e+06

In [ ]:
data.describe(include="O")

,Address,Neighborhood,Garden,Garage,Property Type,Heating Type,Balcony,Interior Style,View,Materials,Building Status
count,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000
unique,770,10,2,2,3,4,3,4,5,4,3
top,96 King's Road,Kensington,Yes,Yes,Detached House,Electric Heating,No Balcony,Classic,Sea,Wood,Renovated
freq,4,114,512,501,349,266,340,263,210,264,341

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Address          1000 non-null   object
 1   Neighborhood     1000 non-null   object
 2   Bedrooms         1000 non-null   int64
 3   Bathrooms        1000 non-null   int64
 4   Square Meters    1000 non-null   int64
 5   Building Age     1000 non-null   int64
 6   Garden           1000 non-null   object
 7   Garage           1000 non-null   object
 8   Floors           1000 non-null   int64
 9   Property Type    1000 non-null   object
 10  Heating Type     1000 non-null   object
 11  Balcony          1000 non-null   object
 12  Interior Style   1000 non-null   object
 13  View             1000 non-null   object
 14  Materials        1000 non-null   object
 15  Building Status  1000 non-null   object
 16  Price (£)        1000 non-null   int64
dtypes: int64(6), object(11)
memory usage: 132.9+ KB

In [11]:
data.duplicated().sum()

0

In [12]:
data["Price (£)"].agg(["max", "min", "mean"])

max     4980000.000
min      386666.000
mean    1840807.278
Name: Price (£), dtype: float64

In [13]:
data[data["Price (£)"]==4980000.000]

,Address,Neighborhood,Bedrooms,Bathrooms,Square Meters,Building Age,Garden,Garage,Floors,Property Type,Heating Type,Balcony,Interior Style,View,Materials,Building Status,Price (£)
86,77 Oxford Street,Chelsea,5,2,249,3,Yes,No,2,Detached House,Central Heating,High-level Balcony,Minimalist,Sea,Wood,Renovated,4980000

In [14]:
data[data["Price (£)"]==386666.000]

,Address,Neighborhood,Bedrooms,Bathrooms,Square Meters,Building Age,Garden,Garage,Floors,Property Type,Heating Type,Balcony,Interior Style,View,Materials,Building Status,Price (£)
106,146 Piccadilly Circus,Greenwich,2,3,58,47,Yes,No,1,Apartment,Central Heating,High-level Balcony,Industrial,Park,Wood,Renovated,386666

***The price per square meter***

In [16]:
data["Price per meter"]=(data["Price (£)"] / data["Square Meters"])-round(2)
data

,Address,Neighborhood,Bedrooms,Bathrooms,Square Meters,Building Age,Garden,Garage,Floors,Property Type,Heating Type,Balcony,Interior Style,View,Materials,Building Status,Price (£),Price per meter
0,78 Regent Street,Notting Hill,2,3,179,72,No,No,3,Semi-Detached,Electric Heating,High-level Balcony,Industrial,Garden,Marble,Renovated,2291200,12798.000000
1,198 Oxford Street,Westminster,2,1,123,34,Yes,No,1,Apartment,Central Heating,High-level Balcony,Industrial,City,Laminate Flooring,Old,1476000,11998.000000
2,18 Regent Street,Soho,5,3,168,38,No,Yes,3,Semi-Detached,Central Heating,No Balcony,Industrial,Street,Wood,Renovated,1881600,11198.000000
3,39 Piccadilly Circus,Islington,5,1,237,53,Yes,Yes,1,Apartment,Underfloor Heating,No Balcony,Classic,Park,Granite,Renovated,1896000,7998.000000
4,116 Fleet Street,Marylebone,4,1,127,23,No,Yes,2,Semi-Detached,Central Heating,No Balcony,Modern,Park,Wood,Old,1524000,11998.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,44 Camden High Street,Westminster,1,3,81,4,Yes,Yes,2,Semi-Detached,Central Heating,Low-level Balcony,Modern,Street,Laminate Flooring,Renovated,1166400,14398.000000
996,165 Park Lane,Camden,1,1,65,51,No,No,1,Apartment,Underfloor Heating,No Balcony,Industrial,Garden,Wood,Old,563333,8664.661538
997,99 Camden High Street,Camden,4,1,191,27,No,Yes,2,Semi-Detached,Central Heating,Low-level Balcony,Minimalist,Park,Laminate Flooring,Old,1986399,10397.994764
998,155 Park Lane,Camden,5,2,131,3,Yes,No,2,Detached House,Underfloor Heating,High-level Balcony,Modern,Park,Laminate Flooring,Renovated,1703000,12998.000000
999,145 Baker Street,Kensington,4,2,185,53,No,No,1,Apartment,Electric Heating,No Balcony,Modern,Street,Wood,Old,2343333,12664.664865

***The Total Rooms in House***

In [17]:
data["Total Rooms"]=data["Bedrooms"]+data["Bathrooms"]
data

,Address,Neighborhood,Bedrooms,Bathrooms,Square Meters,Building Age,Garden,Garage,Floors,Property Type,Heating Type,Balcony,Interior Style,View,Materials,Building Status,Price (£),Price per meter,Total Rooms
0,78 Regent Street,Notting Hill,2,3,179,72,No,No,3,Semi-Detached,Electric Heating,High-level Balcony,Industrial,Garden,Marble,Renovated,2291200,12798.000000,5
1,198 Oxford Street,Westminster,2,1,123,34,Yes,No,1,Apartment,Central Heating,High-level Balcony,Industrial,City,Laminate Flooring,Old,1476000,11998.000000,3
2,18 Regent Street,Soho,5,3,168,38,No,Yes,3,Semi-Detached,Central Heating,No Balcony,Industrial,Street,Wood,Renovated,1881600,11198.000000,8
3,39 Piccadilly Circus,Islington,5,1,237,53,Yes,Yes,1,Apartment,Underfloor Heating,No Balcony,Classic,Park,Granite,Renovated,1896000,7998.000000,6
4,116 Fleet Street,Marylebone,4,1,127,23,No,Yes,2,Semi-Detached,Central Heating,No Balcony,Modern,Park,Wood,Old,1524000,11998.000000,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,44 Camden High Street,Westminster,1,3,81,4,Yes,Yes,2,Semi-Detached,Central Heating,Low-level Balcony,Modern,Street,Laminate Flooring,Renovated,1166400,14398.000000,4
996,165 Park Lane,Camden,1,1,65,51,No,No,1,Apartment,Underfloor Heating,No Balcony,Industrial,Garden,Wood,Old,563333,8664.661538,2
997,99 Camden High Street,Camden,4,1,191,27,No,Yes,2,Semi-Detached,Central Heating,Low-level Balcony,Minimalist,Park,Laminate Flooring,Old,1986399,10397.994764,5
998,155 Park Lane,Camden,5,2,131,3,Yes,No,2,Detached House,Underfloor Heating,High-level Balcony,Modern,Park,Laminate Flooring,Renovated,1703000,12998.000000,7
999,145 Baker Street,Kensington,4,2,185,53,No,No,1,Apartment,Electric Heating,No Balcony,Modern,Street,Wood,Old,2343333,12664.664865,6

**Mapping to simplified**

In [19]:
data["Garage"]=data["Garage"].map({"Yes":1,"No":0})
data["Garage"]=data["Garage"].map({"Yes":1,"No":0})
data

,Address,Neighborhood,Bedrooms,Bathrooms,Square Meters,Building Age,Garden,Garage,Floors,Property Type,Heating Type,Balcony,Interior Style,View,Materials,Building Status,Price (£),Price per meter,Total Rooms
0,78 Regent Street,Notting Hill,2,3,179,72,No,NaN,3,Semi-Detached,Electric Heating,High-level Balcony,Industrial,Garden,Marble,Renovated,2291200,12798.000000,5
1,198 Oxford Street,Westminster,2,1,123,34,Yes,NaN,1,Apartment,Central Heating,High-level Balcony,Industrial,City,Laminate Flooring,Old,1476000,11998.000000,3
2,18 Regent Street,Soho,5,3,168,38,No,NaN,3,Semi-Detached,Central Heating,No Balcony,Industrial,Street,Wood,Renovated,1881600,11198.000000,8
3,39 Piccadilly Circus,Islington,5,1,237,53,Yes,NaN,1,Apartment,Underfloor Heating,No Balcony,Classic,Park,Granite,Renovated,1896000,7998.000000,6
4,116 Fleet Street,Marylebone,4,1,127,23,No,NaN,2,Semi-Detached,Central Heating,No Balcony,Modern,Park,Wood,Old,1524000,11998.000000,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,44 Camden High Street,Westminster,1,3,81,4,Yes,NaN,2,Semi-Detached,Central Heating,Low-level Balcony,Modern,Street,Laminate Flooring,Renovated,1166400,14398.000000,4
996,165 Park Lane,Camden,1,1,65,51,No,NaN,1,Apartment,Underfloor Heating,No Balcony,Industrial,Garden,Wood,Old,563333,8664.661538,2
997,99 Camden High Street,Camden,4,1,191,27,No,NaN,2,Semi-Detached,Central Heating,Low-level Balcony,Minimalist,Park,Laminate Flooring,Old,1986399,10397.994764,5
998,155 Park Lane,Camden,5,2,131,3,Yes,NaN,2,Detached House,Underfloor Heating,High-level Balcony,Modern,Park,Laminate Flooring,Renovated,1703000,12998.000000,7
999,145 Baker Street,Kensington,4,2,185,53,No,NaN,1,Apartment,Electric Heating,No Balcony,Modern,Street,Wood,Old,2343333,12664.664865,6

****New Tables****

In [20]:
Neighborhood=data.pivot_table(index="Neighborhood",values="Price (£)", aggfunc=["max", "min", "mean"])
Neighborhood

                   max       min          mean
             Price (£) Price (£)     Price (£)
Neighborhood
Camden         2977000    450666  1.626332e+06
Chelsea        4980000    760000  2.452894e+06
Greenwich      2470000    386666  1.269409e+06
Islington      2916000    512000  1.507373e+06
Kensington     4427000    671333  2.282233e+06
Marylebone     3585000    530000  1.824982e+06
Notting Hill   3936000    682666  1.957589e+06
Shoreditch     2706000    388666  1.332829e+06
Soho           3472000    532000  1.781121e+06
Westminster    4482000    672000  2.291437e+06

In [21]:
Materials=data.pivot_table(index="Materials", values="Price (£)", aggfunc=["max", "min", "mean"])
Materials

                        max       min          mean
                  Price (£) Price (£)     Price (£)
Materials
Granite             4200000    410666  1.815444e+06
Laminate Flooring   4338000    462000  1.830937e+06
Marble              4482000    388666  1.770287e+06
Wood                4980000    386666  1.937941e+06

In [23]:
import numpy as np

In [25]:
data.shape

(1000, 19)

In [30]:
data.isnull().sum()

Address               0
Neighborhood          0
Bedrooms              0
Bathrooms             0
Square Meters         0
Building Age          0
Garden                0
Garage             1000
Floors                0
Property Type         0
Heating Type          0
Balcony               0
Interior Style        0
View                  0
Materials             0
Building Status       0
Price (£)             0
Price per meter       0
Total Rooms           0
dtype: int64